* {
  font-family: fantasy;
}

body {
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
}

#welcome {
  padding: 2em;
  text-align: center;
  text-shadow: 2px 2px 2px limegreen;
  font-size: 3em;
  letter-spacing: 2px;
}

p {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #008793;
}

#search {
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 2px 2px 2px limegreen;
}

#button {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 110px;
  padding: 10px 20px;
  font-size: 20px;
  padding: 5px 15px;
}
