html {
  font-family:monospace;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
}

/*  STYLES THE NAV BAR AND ALL COMPONENTS WITHIN NAV BAR  */
.logo {
  max-width: 25vh;
  float: left;
  padding-left: 3%;
  /*  USE OF FILTER TO MAKE LOGO A WARMER COLOUR  */
  filter: saturate(2);
}

/*  STYLES THE BACKGROUND COLOUR OF THE NAV BAR  */
.nav_bar {
  background-color: #FFFFFF;
}

/*  STYLES THE LIST IN THE NAV BAR  */
.nav_bar ul {
  list-style-type: none;
  overflow: hidden;
  padding-right: 5%;
}

/*  STYLES EACH ITEM IN NAV BAR LIST  */
.nav_bar li {
  float: right;
  font-size: 2.5vh;
  padding-left: 2%;
  padding-right: 2%;
}

/*  STYLES EACH LINK TO ANOTHER PAGE IN NAV BAR  */
.nav_bar li a {
  color: black;
  padding: 1vw 2vw;
  text-decoration: none;
  display: block;
}

/*  STYLES LINKS WHEN THEY ARE HOVERED  */
.nav_bar li a:hover {
  color: #D2042D;
  background-color: #f6f6f6;
}

/*  STYLES EACH NAV LINK FOR THE SPECIFIC PAGE YOU ARE ON - HOME LINK STYLING  */
#home {
  color: #D2042D;
}

#home:hover {
  color: black;
}

#home:active {
  color: black;
}

#home:visited {
  color: #D2042D;
}

/*  STYLES EACH NAV LINK FOR THE SPECIFIC PAGE YOU ARE ON - ABOUT LINK STYLING  */
#about {
  color: #D2042D;
}

#about:hover {
  color: black;
}

#about:active {
  color: black;
}

#about:visited {
  color: #D2042D;
}

/*  STYLES EACH NAV LINK FOR THE SPECIFIC PAGE YOU ARE ON - SERVICES LINK STYLING  */
#services {
  color: #D2042D;
}

#services:hover {
  color: black;
}

#services:active {
  color: black;
}

#services:visited {
  color: #D2042D;
}

/*  STYLES EACH NAV LINK FOR THE SPECIFIC PAGE YOU ARE ON - CONTACT LINK STYLING  */
#contact {
  color: #D2042D;
}

#contact:hover {
  color: black;
}

#contact:active {
  color: black;
}

#contact:visited {
  color: #D2042D;
}

/*  SETS BACKGROUND IMAGE IN MAIN AND STYLES ON HOME PAGE */
.background {
  background-image: url("images/background.jpg");
  background-color: #cccccc;
  height: 73vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/*  STYLES THE TEXT WITHIN MAIN THAT APPEARS OVER THE IMAGE ON HOME PAGE */
.main_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 2px black;
}

/*  STYLES THE H1 WHICH APPEARS ON THE IMAGE ON EACH PAGE  */
.heading_one_main {
  font-size: 6vh;
  font-style: italic;
  text-transform: uppercase;
  animation-name: example;
  animation-duration: 3s;
}

/*  ANIMATION - HEADING ONE ON EACH PAGE CYCLES COLOURS   */
@keyframes example {
  0%   {color:white;}
  33%  {color:#D2042D;}
  66%  {color:white;}
  100% {color:#D2042D;}
}

/*  STYLES THE H2 WHICH APPEARS ON THE IMAGE ON EACH PAGE  */
.heading_two_main {
  font-size: 3vh;
  font-style: italic;
  background: rgba(0, 0, 0, 0.4);
}

/*  STYLES ALL ELEMENTS WITHIN THE FOOTER TAG  */
footer {
  text-align: center;
}

/*  STYLES THE DIV CONTAINER IN WHICH P TAGS ARE WRAPPED IN  */
#p_container {
  background-color: #D2042D;
}

/*  STYLES EACH PARAGRAPH WHICH APPEARS AT FOOT OF HOME PAGE  */
.foot_p {
  display: inline-block;
  font-size: 2vh;
  border-right: 1px solid;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1.44%;
  padding-top: 1.44%;
  color: white;
  border-color: white;;
}

/*  STYLES THE FURTHERST MOST LEFT ELEMENT TO INCLUDE A BORDER LINE  */
.foot_p:first-child {
  border-left: 1px solid #bbb;
  border-color: white;
}

/*****************************************************************************/

/*  STYLE FOR CONTACT PAGE  */

/*  STYLES ICONS  */
.contact_icon {
  width: 3vh;
  height: 3vh;
}

/*  STYLES THE CONTAINER FOR THE INLINE P TAGS  */
#contact_container {
  background-color: #D2042D;
  padding: 1%;
}

/*  ALIGNS THE P TAGS AND THE ICONS FOR CONTACT  */
.contact_p {
  display: inline-block;
  font-size: 2vh;
  border-right: 1px solid;
  color: white;
  border-color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

/*  STYLES THE FURTHERST MOST LEFT ELEMENT TO INCLUDE A BORDER LINE  */
.contact_p:first-child {
  border-left: 1px solid #bbb;
  border-color: white;
}

/*  STYLES EACH LINK FOR EMAIL, PHONE AND FACEBOOK  */
.contact_p a {
  color: black;
}

.contact_p a:hover {
  color: white;
}

.contact_p a:active {
  color: black;
}

.contact_p a:visited {
  color: white;
}

#map {
  width: 40vh;
  height: 30vh;
}

/*  STYLES THE LOCATION PARAGRAPH  */
#location_p {
  font-size: 2vh;
  color: black;
}

/*  STYLES THE LOCATION ITSELF  */
#location {
  color: #D2042D;
  text-shadow: 1px 1px 1px grey;
  font-weight: bold;
}

/*****************************************************************************/

/*  STYLING FOR THE SERVICES PAGE  */

/*  SETS BACKGROUND IMAGE IN MAIN AND STYLES ON HOME PAGE */
.secondary_background {
  background-image: url("images/services.jpg");
  background-color: #cccccc;
  height: 73vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/*  STYLES THE TEXT WITHIN MAIN THAT APPEARS OVER THE IMAGE ON SERVICES PAGE */
.secondary_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 2px black;
}

/*  SET WIDTH OF TABLE */
table {
  width: 100%;
}

/*  STYLE BORDER AND TEXT   */
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
  table-layout: fixed;
}

/*  STYLES HEADING ROW  */
table, th {
  padding: 3.7%;
  /*  Removing border from table headings  */
  border: 0;
  /*  Replacing border with just a border on the right of each column to keep pages consistent  */
  border-right: 1px solid white;
}

/*  STYLE BACKGROUND  */
th, td {
  background-color: #D2042D;
}

/*  STYLE TABLE HEADINGS  */
#table_headings {
  font-size: 2vh;
}

/*  CHANGE TABLE DATA FONT SIZE  */
td {
  font-size: 1.5vh;
}

/*  STYLE T&C AT END OF TABLE  */
#disclaimer {
  float: left;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5vh;
  padding: 1.3%;
}

/*****************************************************************************/

/*  STYLING ABOUT US PAGE  */

/*  STYLE FAQ HEADING  */
.faq_heading {
  padding: 2.66%;
  background-color: #D2042D;
  color: white;
  font-size: 2vh;
}

/*  STYLE FAQ SECTION WHICH CONTAINS ALL FAQ RELATED ELEMENTS  */
.faq_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*  STYLE HORIZONTAL LINE UNDER FAQ QUESTIONS  */
.faq_hr {
  width: 50%;
  margin: auto;
}

/* STYLES THE Q OF THE FAQ (TEXT) */
.faq_page {
  color: black;
  cursor: pointer;
  padding: 30px 20px;
  width: 50%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 2vh;
}

/*  STYLES THE TEXT WITHIN THE DROPDOWN (ANSWER TO FAQ)  */
.faq_body {
  margin: auto;
  width: 50%;
  padding: inherit;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 1.5vh;
}

/* ADDS A BACKGROUND SHADE TO THE ACTIVELY CLICKED FAQ */
.active, .faq_page:hover {
  background-color: #f6f6f6;
}

/*  STYLES THE PLUS SYMBOL  */
.faq_page:after {
  content: '\02795'; /* Unicode for + symbol */
  font-size: 1.5vh;
  color: black;
  float: right;
  margin-left: 5px;
}

/*  STYLES THE MINUS SYMBOL  */
.active:after {
  content: "\2796"; /* Unicode for - symbol */
}

/*****************************************************************************/

/*  IMPROVING LAYOUT FOR DEVICES UP TO 1024PX WIDTH  */
@media screen and (max-width: 1024px) {

  /*  STYLING FOOTER PARAGRAPHS ON INDEX PAGE  */
  .foot_p {
    border: 0px solid;
    padding-bottom: 0px;
  }

  .foot_p:first-child {
    border: 0px solid;
  }

  /*  STYLING CONTACT SECTION ON CONTACT PAGE  */
  .contact_p {
    border: 0px solid;
    padding: 1%;
  }

  .contact_p:first-child {
    border: 0px solid;
  }

  /*  STYLE H2 on image on all pages  */
  .heading_two_main {
    font-size: 3vh;
  }
}
