<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Us!</h1>
    <h1>Welcome to the About Us page!</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Aliquam sem et tortor consequat id porta nibh venenatis. Eget felis eget nunc lobortis mattis aliquam. 
        Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. 
        <br>
        Venenatis cras sed felis eget velit aliquet sagittis id. 
        Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a. 
        Velit sed ullamcorper morbi tincidunt ornare massa. Vitae nunc sed velit dignissim sodales ut eu sem integer.</p>
  
    <li><a href="/index">Homepage</a></li>  
    <li><a href="/about">About Us</a></li>  
    <li><a href="/register">Register</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
  </body>
</html>