<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Welcome to the Homepage!</h1> 
    <p>Please select from one of the links below!</p>
  
    <li><a href="/about">About Us</a></li>   
    <li><a href="/contact">Contact Us</a></li> 
    <li><a href="/register">Register</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
  </body>
</html>
