<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Please logout below!</h1>
    <h1> Logout </h1> 
  
        <button>Click to Logout</button>  
      
    <h3>Homepage Navigation</h3> 
      
    <li><a href="/index">Homepage</a></li>  
    <li><a href="/about">About Us</a></li>  
    <li><a href="/contact">Contact Us</a></li>  
    <li><a href="/register">Sign up!!</a></li> 
    <li><a href="/login">Login</a></li> 
  </body>
</html>