<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <h1> Sign up form </h1> 
  
    <form action="/register" method="POST"> 
        <input type="text" name="username" 
            placeholder="username"> 
        <input type="password" name="password" 
            placeholder="password"> 
        <button>Submit</button> 
    </form> 
      
    <h3>Homepage Navigation</h3> 
      
    <li><a href="/index">Homepage</a></li>  
    <li><a href="/about">About Us</a></li>   
    <li><a href="/contact">Contact Us</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
  </body>
</html>
