<!DOCTYPE html>
<html>
    <head>
        <title><%= user.name %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Successfully Registered!</h1>
        <h1>Username: <%= user.name %></h1>
    </body>
</html>