body {
  width: 80%;
  font-family: sans-serif, Arial;
  margin: auto;
  background: url("background.jpg");
  color: white;
}

li {
  border: 10px;
  border-radius: 10px;
}

li:hover {
  opacity: 0.5;
}

li:first-letter {
  font-size: 2em;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

.xmen {
  font-family: fantasy;
  background-color: darkgreen;
  color: white;
}

.xmen::before {
  content: "Xmen: "
}

.justice_league {
  font-family: "Snap ITC", serif;
  background-color: darkred;
  color: white;
}

#lantern {
  font-weight: bold;
  font-family: courier;
  background-color: pink;
  color: blue;
}

#lantern::after {
  content: " I am green"
}

.villain {
  background-color: grey;
  color: black;
  font-family: "Brush Script MT";
  list-style-image: url("angry.png");
}
